<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyANZwBW23cwav-CVKN4KxwkwLgjeuJDjIU</string>
	<key>GCM_SENDER_ID</key>
	<string>200924479038</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.raijin</string>
	<key>PROJECT_ID</key>
	<string>raijin-anime</string>
	<key>STORAGE_BUCKET</key>
	<string>raijin-anime.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:200924479038:ios:352fb5fd1cfb8baf645b6f</string>
</dict>
</plist>